* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: sans-serif;
    text-decoration: none;
    background-color: #101820;
}
  
.nav {
    position: fixed;
    width: 100%;
    height: 4.4rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    padding-inline: 1rem;
}
  
.logo {
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
}

.highlight {
    color: #f27a35;
}
  
.nav-list {
    display: flex;
    flex-direction: column;  
    list-style: none;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;  
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    pointer-events: none;  
    justify-content: space-around;  
    align-items: center;  
    padding: 1.25rem 0;  
}
  
.nav-list a {
    font-size: 1.5rem;
    color: #fff;
    padding-block: 1rem;
    text-decoration: none;
    opacity: 0;  
}

.nav-list a:hover {
    color: #f27a35;
}
  
.hamburger {
    display: block;
    border: none;
    background: none;
    border-top: 3px solid #f27a35;
    cursor: pointer;
    z-index: 2;  
    position: relative;  
}
  
.hamburger::after,
.hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #f27a35;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}
  
.nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;  
}
  
.nav.active .nav-list a {
    opacity: 1;  
    transition: opacity 0.5s ease-in;
}
  
.nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;  
}
  
.nav.active .hamburger::before {
    transform: rotate(135deg);
}
  
.nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}

.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 100vh;
}

.text-home {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.text-home h1 {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
}

.text-home p {
    font-size: 1.5rem;
    font-weight: 300;
}

.text-animation {
    color: #f27a35;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 0rem;
    margin-top: auto;
}

.icons a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.icons img {
    width: 1.5rem;
    opacity: 1;
}

.icons a:hover {
    transform: translateY(-5px);
}

.about {
    padding: 2.5rem;
    color: #fff;
    font-size: 1.2rem;
}

.about-title p {
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
    margin-top: 2.5rem;
}
.about-title h2 {
    display: flex;
    color: #f27a35;
    font-size: 2rem;
    justify-content: center;
}

.about-me h3 {
    font-size: 1.5rem;
}

.about-skills h2 {
    color: #f27a35;
}

.skills-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 2rem 0rem;
}

.card {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card img {
    width: 50%;
    opacity: 1;
}

.services-start {
    padding: 2.5rem;
    color: #fff;
    font-size: 1.2rem;
}

.services-start p {
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
    margin-top: 2.5rem;
}

.services-start h2 {
    display: flex;
    color: #f27a35;
    font-size: 2rem;
    justify-content: center;
}

.services-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem 0rem;
    background-color: #f27a35;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
}

.item img {
    width: 20%;
    opacity: 1;
    margin: 1rem;
}

.footer {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 70px;
    margin-inline: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}


@media (min-width: 750px) {
    .nav-list {
        position: static;  
        width: auto; 
        height: auto;
        clip-path: none; 
        background: none;
        flex-direction: row;
        gap: 2rem;
        pointer-events: all;
        justify-content: flex-start;
        align-items: center;
    }
    
    .hamburger {
        display: none;
    }
    
    .nav-list a {
        font-size: 18px;
        opacity: 1;
    }

    .logo {
        font-size: 1.5rem;
    }

    .text-home h1 {
        font-size: 4rem;
    }

    .text-home p {
        font-size: 2rem;
    }
}